flows_raspberrypi.json
[{"id":"f398616f.284e2","type":"tab","label":"Sensor","disabled":false,"info":""},{"id":"de429073.22d3d","type":"tab","label":"S-Plug","disabled":false,"info":""},{"id":"2d58bc01.d75ec4","type":"tab","label":"Porch","disabled":false,"info":""},{"id":"3d2d6f9d.31476","type":"tab","label":"Main Bedroom","disabled":false,"info":""},{"id":"f3a9bdc7.c5231","type":"tab","label":"Child Room","disabled":false,"info":""},{"id":"2f3557c4.349068","type":"tab","label":"Class A","disabled":false,"info":""},{"id":"ee37ba65.684488","type":"tab","label":"Class B","disabled":false,"info":""},{"id":"17f061ae.cde8fe","type":"tab","label":"Notification","disabled":false,"info":""},{"id":"ed5e3229.45cbd","type":"tab","label":"Telegram Bot","disabled":false,"info":""},{"id":"65ed6b3f.209e34","type":"tab","label":"Motion Sensor","disabled":true,"info":""},{"id":"102eb532.2b220b","type":"tab","label":"System","disabled":true,"info":""},{"id":"c347e56d.44bb18","type":"tab","label":"Navigation","disabled":false,"info":""},{"id":"96d5da8b.e2f0c8","type":"tab","label":"Devices","disabled":false,"info":""},{"id":"fee37447.2fb938","type":"telegram bot","z":"","botname":"antho_firuze_bot","usernames":"","chatids":"187539251","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"80f6626b.e88eb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6d122826.a0f018","type":"ui_group","z":"","name":"Alarm","tab":"80f6626b.e88eb","order":2,"disp":true,"width":"6","collapse":false},{"id":"6d25d302.16b96c","type":"ui_group","z":"","name":"Smart Plug","tab":"80f6626b.e88eb","order":8,"disp":true,"width":"6","collapse":true},{"id":"63b660d.12feea","type":"mqtt-broker","z":"","name":"","broker":"192.168.30.26","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"67b5fe19.ef473","type":"ui_group","z":"","name":"Kamar Utama","tab":"43aa4645.0632c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"43aa4645.0632c8","type":"ui_tab","z":"","name":"Temp & Hum","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2f87a218.0088fe","type":"ui_group","z":"","name":"Kamar Anak","tab":"43aa4645.0632c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"569d861c.1c4df8","type":"ui_group","z":"","name":"Kelas A","tab":"43aa4645.0632c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"ff5d0eb1.e341f","type":"ui_group","z":"","name":"Kelas B","tab":"43aa4645.0632c8","order":5,"disp":true,"width":"6","collapse":false},{"id":"fe49daaf.13c3d8","type":"ui_tab","z":"","name":"Devices","icon":"nfc","order":3,"disabled":false,"hidden":false},{"id":"32850c67.f12c84","type":"ui_group","z":"","name":"Devices","tab":"fe49daaf.13c3d8","order":2,"disp":true,"width":12,"collapse":false},{"id":"9c7278b.0d67288","type":"ui_group","z":"","name":"Buttons","tab":"43aa4645.0632c8","order":1,"disp":false,"width":6,"collapse":false},{"id":"5d780ecd.16f8f","type":"ui_group","z":"","name":"Buttons","tab":"fe49daaf.13c3d8","order":1,"disp":false,"width":6,"collapse":false},{"id":"3dc7aed3.b39402","type":"ui_group","z":"","name":"Buttons","tab":"80f6626b.e88eb","order":1,"disp":false,"width":6,"collapse":false},{"id":"c221e345.7ac43","type":"ui_group","z":"","name":"CPU","tab":"adcac397.45b3b","order":2,"disp":true,"width":"6","collapse":true},{"id":"1a085fd.8bceca","type":"ui_group","z":"","name":"SD card","tab":"adcac397.45b3b","order":4,"disp":true,"width":"6","collapse":true},{"id":"5a4e8d34.44c604","type":"ui_group","z":"","name":"Memory","tab":"adcac397.45b3b","order":3,"disp":true,"width":"6","collapse":true},{"id":"3cfdc2ce.ead1fe","type":"ui_group","z":"","name":"Buttons","tab":"adcac397.45b3b","order":1,"disp":false,"width":6,"collapse":false},{"id":"adcac397.45b3b","type":"ui_tab","z":"","name":"System","icon":"settings","order":4,"disabled":true,"hidden":true},{"id":"32b8b347.ed3c9c","type":"ui_group","z":"","name":"Main Bedroom","tab":"80f6626b.e88eb","order":3,"disp":true,"width":"6","collapse":true},{"id":"5be43589.d0319c","type":"ui_group","z":"","name":"Childroom","tab":"80f6626b.e88eb","order":4,"disp":true,"width":"6","collapse":true},{"id":"f9cb5921.360b48","type":"ui_group","z":"","name":"Porch","tab":"80f6626b.e88eb","order":5,"disp":true,"width":"6","collapse":true},{"id":"10561765.e1ffa9","type":"ui_group","z":"","name":"Classroom","tab":"80f6626b.e88eb","order":6,"disp":true,"width":"6","collapse":true},{"id":"eb805a04.4f40b8","type":"ui_group","z":"","name":"Living room","tab":"80f6626b.e88eb","order":7,"disp":true,"width":"6","collapse":true},{"id":"f6c13b5.624f5c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2e30f351.0c63ec","type":"git-config","z":"","name":"Git-Config","git":"https://github.com/antho-firuze/node-red-backup.git"},{"id":"122f9dd4.e12b22","type":"inject","z":"de429073.22d3d","name":"07:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":40,"wires":[[]]},{"id":"c1f68470.f08858","type":"inject","z":"de429073.22d3d","name":"21:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":169,"y":100,"wires":[["65fa50d9.8002a"]]},{"id":"50f06d07.014a84","type":"inject","z":"de429073.22d3d","name":"03:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":160,"wires":[[]]},{"id":"86cdb630.0f61d8","type":"inject","z":"f3a9bdc7.c5231","name":"3:30 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"30 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":40,"wires":[["928db84b.f0c108"]]},{"id":"319b09d0.1bd8a6","type":"inject","z":"f3a9bdc7.c5231","name":"12:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":100,"wires":[["5e72f98f.103f18"]]},{"id":"fa4e3a9a.376f78","type":"inject","z":"f3a9bdc7.c5231","name":"15:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 15 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["928db84b.f0c108"]]},{"id":"885a5687.95a5a8","type":"inject","z":"f3a9bdc7.c5231","name":"20:30 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"30 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["5e72f98f.103f18"]]},{"id":"4f480c7b.696a84","type":"inject","z":"2f3557c4.349068","name":"05:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["90a93b5d.b8eec8"]]},{"id":"faf5787b.d38cb8","type":"inject","z":"2f3557c4.349068","name":"08:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["90a93b5d.b8eec8"]]},{"id":"40aae1ea.eef33","type":"inject","z":"2f3557c4.349068","name":"15:30 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"30 15 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[["90a93b5d.b8eec8"]]},{"id":"3d3d3d0f.88b602","type":"inject","z":"2f3557c4.349068","name":"18:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[["bc85450.bf0b7b8"]]},{"id":"e2183b3f.3d99f8","type":"inject","z":"2f3557c4.349068","name":"12:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["bc85450.bf0b7b8"]]},{"id":"83e368ba.081ed8","type":"inject","z":"2f3557c4.349068","name":"21:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["bc85450.bf0b7b8","5dde4fab.862bc"]]},{"id":"22418088.53863","type":"inject","z":"ee37ba65.684488","name":"06:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":40,"wires":[["d3e232c4.cd0d5"]]},{"id":"439013c5.21c62c","type":"inject","z":"ee37ba65.684488","name":"08:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["ec7b2e9f.dca36"]]},{"id":"9b5387f5.68f508","type":"inject","z":"ee37ba65.684488","name":"15:30 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"30 15 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[[]]},{"id":"e3371a78.068ce8","type":"inject","z":"ee37ba65.684488","name":"18:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["ec7b2e9f.dca36"]]},{"id":"32f32695.fc1b0a","type":"inject","z":"ee37ba65.684488","name":"12:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["ec7b2e9f.dca36"]]},{"id":"bac1d6d6.5043d8","type":"inject","z":"ee37ba65.684488","name":"21:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":340,"wires":[["ec7b2e9f.dca36"]]},{"id":"a57fd65a.f54478","type":"inject","z":"3d2d6f9d.31476","name":"4:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["755558c5.c94f18"]]},{"id":"e4458bf8.12c388","type":"inject","z":"3d2d6f9d.31476","name":"12:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["21685091.2bb8a"]]},{"id":"3146885.5916a78","type":"inject","z":"3d2d6f9d.31476","name":"15:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 15 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["755558c5.c94f18"]]},{"id":"f61dba22.a23838","type":"inject","z":"3d2d6f9d.31476","name":"21:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["21685091.2bb8a"]]},{"id":"101867cb.138738","type":"inject","z":"3d2d6f9d.31476","name":"3:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":40,"wires":[["bd1ad8f.5142928"]]},{"id":"b6833ca1.56a15","type":"inject","z":"3d2d6f9d.31476","name":"23:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":340,"wires":[["1c1bac94.5588d3"]]},{"id":"c52970c7.9fc82","type":"inject","z":"2d58bc01.d75ec4","name":"21:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":340,"wires":[["5a22199f.9cf978","1c71eed0.791041","a90f9180.d360d","a9187765.57bf38"]]},{"id":"bc7d119f.f24b2","type":"inject","z":"2d58bc01.d75ec4","name":"03:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":40,"wires":[["ed6b906e.d4fc8","b29780dd.fd81d"]]},{"id":"59cd9441.d9c59c","type":"inject","z":"2d58bc01.d75ec4","name":"05:30 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"30 05 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["8028d0ea.3b9ed"]]},{"id":"fbe02c3c.a5d62","type":"inject","z":"2d58bc01.d75ec4","name":"17:30 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"30 17 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["e1844772.00d538","96d08243.9bcfd","75407400.4d73cc"]]},{"id":"20862b06.36fe74","type":"inject","z":"2d58bc01.d75ec4","name":"04:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["96d08243.9bcfd","75407400.4d73cc"]]},{"id":"c863d626.431568","type":"delay","z":"de429073.22d3d","name":"Delay 5","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":240,"wires":[["65fa50d9.8002a"]]},{"id":"314215b4.1df78a","type":"inject","z":"de429073.22d3d","name":"03:30 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"30 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":220,"wires":[[]]},{"id":"258bdfba.2f358","type":"inject","z":"de429073.22d3d","name":"04:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":280,"wires":[[]]},{"id":"1f9f9e17.8d1d42","type":"template","z":"ed5e3229.45cbd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":420,"y":80,"wires":[["acc177b4.55e0b8"]]},{"id":"ac8a392d.9040d8","type":"http request","z":"17f061ae.cde8fe","d":true,"name":"Telegram Post","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1242582568:AAFBv-yRxquezIx-IXk3WJkgmT9vCxFfylE/sendMessage?chat_id=187539251&text={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":240,"wires":[[]]},{"id":"da4a24d2.e56a68","type":"inject","z":"2d58bc01.d75ec4","name":"07:30 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"30 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["1c71eed0.791041","a90f9180.d360d"]]},{"id":"acc177b4.55e0b8","type":"http request","z":"ed5e3229.45cbd","name":"Telegram Post","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1242582568:AAFBv-yRxquezIx-IXk3WJkgmT9vCxFfylE/sendMessage?chat_id=187539251&text={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":180,"wires":[[]]},{"id":"a4070fa5.74c84","type":"ui_audio","z":"65ed6b3f.209e34","name":"","group":"6d122826.a0f018","voice":"en-US","always":true,"x":1080,"y":60,"wires":[]},{"id":"e3a5bdd6.e3dd5","type":"change","z":"65ed6b3f.209e34","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"Motion detected !","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"No motion !","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":60,"wires":[["a4070fa5.74c84","f6530d00.2953f","afd0491d.300dc8","fdd68110.ec1a2"]]},{"id":"84da6a0.d620598","type":"mqtt in","z":"65ed6b3f.209e34","name":"","topic":"stat/pir_2/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":110,"y":140,"wires":[["7e11432c.7449dc","c9bd7e48.ddb92"]]},{"id":"7e11432c.7449dc","type":"switch","z":"65ed6b3f.209e34","name":"","property":"payload.POWER","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":140,"wires":[["b66ed505.0b9628"],["5ec7b66.4548b48"]]},{"id":"f6530d00.2953f","type":"debug","z":"65ed6b3f.209e34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"a4f2d859.bcb1f8","type":"trigger","z":"65ed6b3f.209e34","name":"Timeout","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"3","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":340,"y":560,"wires":[["c2659bdf.d282e8"]]},{"id":"251faef0.5785e2","type":"inject","z":"65ed6b3f.209e34","name":"ON","repeat":"","crontab":"","once":false,"topic":"switch","payload":"on","payloadType":"string","x":142,"y":512,"wires":[["a4f2d859.bcb1f8","c320c58a.61d198"]]},{"id":"232d1146.5d20fe","type":"inject","z":"65ed6b3f.209e34","name":"","repeat":"","crontab":"","once":false,"topic":"PIR","payload":"","payloadType":"date","x":146,"y":556,"wires":[["a4f2d859.bcb1f8"]]},{"id":"c320c58a.61d198","type":"debug","z":"65ed6b3f.209e34","name":"Light","active":true,"console":"false","complete":"payload","x":606,"y":490,"wires":[]},{"id":"ed28dc1a.5dc8e","type":"inject","z":"65ed6b3f.209e34","name":"OFF","repeat":"","crontab":"","once":false,"topic":"switch","payload":"off","payloadType":"string","x":141,"y":468,"wires":[["c320c58a.61d198"]]},{"id":"c2659bdf.d282e8","type":"function","z":"65ed6b3f.209e34","name":"Enabled","func":"\nif (msg.topic == \"state\") {\n\tcontext.state = msg.payload;\n\treturn null;\n}\nif (context.state == 1)\n  return msg;\nelse\n  return null;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":475,"y":591,"wires":[["c320c58a.61d198"]]},{"id":"8ea3accb.5e2a6","type":"inject","z":"65ed6b3f.209e34","name":"Disable Timer","repeat":"","crontab":"","once":false,"topic":"state","payload":"0","payloadType":"string","x":174,"y":598,"wires":[["c2659bdf.d282e8"]]},{"id":"3528a2f4.a83e9e","type":"inject","z":"65ed6b3f.209e34","name":"Enable Timer","repeat":"","crontab":"","once":false,"topic":"state","payload":"1","payloadType":"string","x":172,"y":638,"wires":[["c2659bdf.d282e8"]]},{"id":"1276f76.5751909","type":"trigger","z":"65ed6b3f.209e34","name":"Timeout","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"10","extend":true,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":140,"wires":[["e3a5bdd6.e3dd5","f6530d00.2953f","e802c8b7.187b58","62555082.a1fc2"]]},{"id":"b66ed505.0b9628","type":"change","z":"65ed6b3f.209e34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":60,"wires":[["e802c8b7.187b58","1276f76.5751909"]]},{"id":"5ec7b66.4548b48","type":"change","z":"65ed6b3f.209e34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":220,"wires":[["1276f76.5751909"]]},{"id":"e802c8b7.187b58","type":"trigger","z":"65ed6b3f.209e34","name":"Timeout","op1":"on","op2":"","op1type":"str","op2type":"nul","duration":"0","extend":true,"units":"s","reset":"off","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":60,"wires":[["e3a5bdd6.e3dd5","f6530d00.2953f","62555082.a1fc2"]]},{"id":"c9bd7e48.ddb92","type":"debug","z":"65ed6b3f.209e34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":200,"wires":[]},{"id":"afd0491d.300dc8","type":"http request","z":"65ed6b3f.209e34","name":"Telegram Post","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1242582568:AAFBv-yRxquezIx-IXk3WJkgmT9vCxFfylE/sendMessage?chat_id=187539251&text={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1060,"y":160,"wires":[[]]},{"id":"de510b70.99cd68","type":"ui_chart","z":"de429073.22d3d","name":"Power History","group":"6d25d302.16b96c","order":3,"width":4,"height":3,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":360,"wires":[[]]},{"id":"e1415d21.9f0e1","type":"ui_chart","z":"de429073.22d3d","name":"Current History","group":"6d25d302.16b96c","order":5,"width":4,"height":3,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":440,"wires":[[]]},{"id":"6decf2a6.8b898c","type":"ui_chart","z":"de429073.22d3d","name":"Voltage History","group":"6d25d302.16b96c","order":7,"width":4,"height":3,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":520,"wires":[[]]},{"id":"3e8991f.86f906e","type":"debug","z":"f398616f.284e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":60,"wires":[]},{"id":"5e466a61.262744","type":"mqtt in","z":"f398616f.284e2","name":"","topic":"tele/main_bedroom/SENSOR","qos":"1","datatype":"json","broker":"63b660d.12feea","x":160,"y":60,"wires":[["3e8991f.86f906e","fdc8b940.cf0138","bca38789.9348c8"]]},{"id":"fdc8b940.cf0138","type":"function","z":"f398616f.284e2","name":"","func":"msg.payload = msg.payload.DHT11.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":120,"wires":[["719bbde8.78cc34","2ab3cd23.b08012"]]},{"id":"474c31ca.3e19f","type":"debug","z":"de429073.22d3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":190,"y":480,"wires":[]},{"id":"e28cb2b0.2e422","type":"ui_gauge","z":"de429073.22d3d","name":"","group":"6d25d302.16b96c","order":2,"width":2,"height":3,"gtype":"gage","title":"Power","label":"W","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":320,"wires":[]},{"id":"482b7bdc.8f2974","type":"ui_gauge","z":"de429073.22d3d","name":"","group":"6d25d302.16b96c","order":4,"width":2,"height":3,"gtype":"gage","title":"Current","label":"A","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":400,"wires":[]},{"id":"ca45b4c1.fa0c18","type":"ui_gauge","z":"de429073.22d3d","name":"","group":"6d25d302.16b96c","order":6,"width":2,"height":3,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":"190","max":"225","colors":["#00b500","#e6e600","#ca3838"],"seg1":"180","seg2":"200","x":400,"y":480,"wires":[]},{"id":"719bbde8.78cc34","type":"ui_chart","z":"f398616f.284e2","name":"Temp History","group":"67b5fe19.ef473","order":2,"width":4,"height":3,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"27","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":120,"wires":[[]]},{"id":"2ab3cd23.b08012","type":"ui_gauge","z":"f398616f.284e2","name":"","group":"67b5fe19.ef473","order":1,"width":2,"height":3,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"25","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"35","x":450,"y":60,"wires":[]},{"id":"5576581d.669428","type":"template","z":"17f061ae.cde8fe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} is {{payload}}","output":"str","x":860,"y":320,"wires":[["ac8a392d.9040d8"]]},{"id":"ff5b8f01.3cf","type":"mqtt in","z":"f398616f.284e2","name":"","topic":"tele/childroom/SENSOR","qos":"1","datatype":"json","broker":"63b660d.12feea","x":140,"y":180,"wires":[["956cde7e.ed4bb","3d7dedb8.578702"]]},{"id":"956cde7e.ed4bb","type":"function","z":"f398616f.284e2","name":"","func":"msg.payload = msg.payload.DHT11.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":240,"wires":[["46eb565a.7178d8","cbc71830.b62c68"]]},{"id":"46eb565a.7178d8","type":"ui_chart","z":"f398616f.284e2","name":"Temp History","group":"2f87a218.0088fe","order":2,"width":4,"height":3,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"27","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":240,"wires":[[]]},{"id":"cbc71830.b62c68","type":"ui_gauge","z":"f398616f.284e2","name":"","group":"2f87a218.0088fe","order":1,"width":2,"height":3,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"25","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"35","x":450,"y":180,"wires":[]},{"id":"3fcb9366.8f6bbc","type":"mqtt in","z":"f398616f.284e2","name":"","topic":"tele/classroom_a1/SENSOR","qos":"1","datatype":"json","broker":"63b660d.12feea","x":160,"y":300,"wires":[["c25ab66c.ea33a8","f0634cae.79578"]]},{"id":"c25ab66c.ea33a8","type":"function","z":"f398616f.284e2","name":"","func":"msg.payload = msg.payload.DHT11.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["4dfedf3.988c12","5df9c337.9bfe0c"]]},{"id":"4dfedf3.988c12","type":"ui_chart","z":"f398616f.284e2","name":"Temp History","group":"569d861c.1c4df8","order":2,"width":4,"height":3,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"27","ymax":"43","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":360,"wires":[[]]},{"id":"5df9c337.9bfe0c","type":"ui_gauge","z":"f398616f.284e2","name":"","group":"569d861c.1c4df8","order":1,"width":2,"height":3,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"25","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"35","x":450,"y":300,"wires":[]},{"id":"bd6e27c8.d2dce8","type":"mqtt in","z":"f398616f.284e2","name":"","topic":"tele/classroom_b1/SENSOR","qos":"1","datatype":"json","broker":"63b660d.12feea","x":160,"y":420,"wires":[["bf99a8be.5cde98","40f638e9.c273e8"]]},{"id":"bf99a8be.5cde98","type":"function","z":"f398616f.284e2","name":"","func":"msg.payload = msg.payload.DHT11.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":480,"wires":[["1bde2a33.3769f6","63da678f.d793d8"]]},{"id":"1bde2a33.3769f6","type":"ui_chart","z":"f398616f.284e2","name":"Temp History","group":"ff5d0eb1.e341f","order":2,"width":4,"height":3,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"27","ymax":"43","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":480,"wires":[[]]},{"id":"63da678f.d793d8","type":"ui_gauge","z":"f398616f.284e2","name":"","group":"ff5d0eb1.e341f","order":1,"width":2,"height":3,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"25","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"35","x":450,"y":420,"wires":[]},{"id":"bca38789.9348c8","type":"function","z":"f398616f.284e2","name":"","func":"msg.payload = msg.payload.DHT11.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[["5a149b0b.801494"]]},{"id":"5a149b0b.801494","type":"ui_text","z":"f398616f.284e2","group":"67b5fe19.ef473","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":780,"y":120,"wires":[]},{"id":"3d7dedb8.578702","type":"function","z":"f398616f.284e2","name":"","func":"msg.payload = msg.payload.DHT11.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":240,"wires":[["9a2a2ffa.ecabc"]]},{"id":"9a2a2ffa.ecabc","type":"ui_text","z":"f398616f.284e2","group":"2f87a218.0088fe","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":780,"y":240,"wires":[]},{"id":"f0634cae.79578","type":"function","z":"f398616f.284e2","name":"","func":"msg.payload = msg.payload.DHT11.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":360,"wires":[["c414db5c.f70548"]]},{"id":"c414db5c.f70548","type":"ui_text","z":"f398616f.284e2","group":"569d861c.1c4df8","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":780,"y":360,"wires":[]},{"id":"40f638e9.c273e8","type":"function","z":"f398616f.284e2","name":"","func":"msg.payload = msg.payload.DHT11.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":480,"wires":[["7a406bfd.cb53e4"]]},{"id":"7a406bfd.cb53e4","type":"ui_text","z":"f398616f.284e2","group":"ff5d0eb1.e341f","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":780,"y":480,"wires":[]},{"id":"fe2286b.98ea478","type":"ui_button","z":"65ed6b3f.209e34","name":"Button","group":"6d122826.a0f018","order":1,"width":0,"height":0,"passthru":true,"label":"Active","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":650,"y":300,"wires":[["104e89c5.e464a6"]]},{"id":"fdd68110.ec1a2","type":"ui_text","z":"65ed6b3f.209e34","group":"6d122826.a0f018","order":2,"width":0,"height":0,"name":"","label":"Kamar Anak","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":300,"wires":[]},{"id":"104e89c5.e464a6","type":"switch","z":"65ed6b3f.209e34","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":360,"wires":[["23e3785b.b39af8"],[]]},{"id":"1ec649e7.9da9a6","type":"ui_template","z":"65ed6b3f.209e34","group":"6d122826.a0f018","name":"","order":3,"width":0,"height":0,"format":"<script>\nvar value = \"hello world\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n</script>\n<md-button ng-click=\"send({payload:action()})\">\n    Click me to send a hello world\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":900,"y":360,"wires":[["fdd68110.ec1a2"]]},{"id":"23e3785b.b39af8","type":"change","z":"65ed6b3f.209e34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Armed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":300,"wires":[["fdd68110.ec1a2"]]},{"id":"8be1c16d.fdfad","type":"mqtt out","z":"de429073.22d3d","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":830,"y":660,"wires":[]},{"id":"16d9417e.a07f8f","type":"mqtt out","z":"2f3557c4.349068","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":450,"y":740,"wires":[]},{"id":"e29306ff.74fdd8","type":"inject","z":"de429073.22d3d","name":"every 1 minutes","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":550,"y":580,"wires":[["4b8cf480.28b36c"]]},{"id":"b0a55e8a.2e20c","type":"inject","z":"102eb532.2b220b","name":"5 min tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":200,"wires":[["c85f158c.49e0f8","2f405a79.cd42a6","1e7bac60.9070e4"]]},{"id":"996de197.1db3c","type":"ui_gauge","z":"102eb532.2b220b","name":"","group":"c221e345.7ac43","order":1,"width":3,"height":3,"gtype":"gage","title":"CPU load","label":"%","format":"{{ msg.payload }}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":760,"y":380,"wires":[]},{"id":"922b9378.3445c","type":"ui_gauge","z":"102eb532.2b220b","name":"","group":"1a085fd.8bceca","order":2,"width":6,"height":4,"gtype":"wave","title":"Used","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":750,"y":60,"wires":[]},{"id":"699db4c6.4de98c","type":"ui_chart","z":"102eb532.2b220b","name":"","group":"c221e345.7ac43","order":3,"width":6,"height":4,"label":"Load, %","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8000","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":420,"wires":[[]]},{"id":"6defcb2d.4532e4","type":"ui_chart","z":"102eb532.2b220b","name":"","group":"1a085fd.8bceca","order":1,"width":6,"height":6,"label":"Storage (GB)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":100,"wires":[[]]},{"id":"45506482.fee22c","type":"ui_gauge","z":"102eb532.2b220b","name":"","group":"5a4e8d34.44c604","order":2,"width":0,"height":0,"gtype":"donut","title":"RAM usage","label":"%","format":"{{msg.payload.memusage}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":750,"y":280,"wires":[]},{"id":"943d0779.713c28","type":"ui_chart","z":"102eb532.2b220b","name":"Memory Chart","group":"5a4e8d34.44c604","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":320,"wires":[[]]},{"id":"e3d05465.96edb8","type":"ui_gauge","z":"102eb532.2b220b","name":"","group":"c221e345.7ac43","order":2,"width":3,"height":3,"gtype":"gage","title":"CPU Temp","label":"°C","format":"{{ msg.payload }}","min":0,"max":"100","colors":["#0080ff","#ffffff","#ca3838"],"seg1":"70","seg2":"85","x":760,"y":460,"wires":[]},{"id":"d5373545.df83e8","type":"function","z":"102eb532.2b220b","name":"extract","func":"var msg1,msg2,msg3;\nvar ttl = msg.payload.totalmem;\nvar fre = msg.payload.freemem;\nvar usg = ttl-fre;\n\nmsg1 = {topic: 'Total', payload: (ttl / 1000000).toFixed(2)};\nmsg2 = {topic: 'Free', payload: (fre / 1000000).toFixed(2)};\nmsg3 = {topic: 'Usage', payload: (usg / 1000000).toFixed(2)};\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":530,"y":320,"wires":[["943d0779.713c28"],["943d0779.713c28"],["943d0779.713c28"]]},{"id":"db6107db.319a68","type":"function","z":"102eb532.2b220b","name":"convert_uptime","func":"var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nvar s = ((msg.payload.uptime % 86400) % 3600) % 60;\nmsg.payload = d + ':' + h + ':' + m + ':' + s;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["662265f.e43179c"]]},{"id":"c85f158c.49e0f8","type":"Memory","z":"102eb532.2b220b","name":"","x":340,"y":280,"wires":[["45506482.fee22c","d5373545.df83e8","f13194e8.d85b78"]]},{"id":"2f405a79.cd42a6","type":"Uptime","z":"102eb532.2b220b","name":"Uptime","x":340,"y":200,"wires":[["db6107db.319a68"]]},{"id":"aa154a9a.6ad888","type":"ui_chart","z":"102eb532.2b220b","name":"","group":"c221e345.7ac43","order":4,"width":6,"height":3,"label":"Temperature, °C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":800,"y":499,"wires":[[],[]]},{"id":"f13194e8.d85b78","type":"debug","z":"102eb532.2b220b","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":580,"wires":[]},{"id":"662265f.e43179c","type":"ui_text","z":"102eb532.2b220b","group":"5a4e8d34.44c604","order":1,"width":0,"height":0,"name":"","label":"Uptime, d:h:m:s","format":"{{ msg.payload }}","layout":"row-spread","x":760,"y":200,"wires":[]},{"id":"ba8a928c.807c3","type":"function","z":"102eb532.2b220b","name":"convert","func":"var msg1,msg2,msg3,msg4;\nvar ttl = msg.payload[0].size;\nvar use = msg.payload[0].used;\nvar avl = msg.payload[0].available;\nvar per = msg.payload[0].capacity;\n\nmsg1 = {topic: 'Total', payload: (ttl / 1000000).toFixed(2)};\nmsg2 = {topic: 'Free', payload: (avl / 1000000).toFixed(2)};\nmsg3 = {topic: 'Used', payload: (use / 1000000).toFixed(2)};\nmsg4 = {topic: 'Used%', payload: per * 100};\n\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":540,"y":80,"wires":[["6defcb2d.4532e4"],["6defcb2d.4532e4"],["6defcb2d.4532e4"],["922b9378.3445c"]]},{"id":"8b265070.124f7","type":"inject","z":"102eb532.2b220b","name":"1 min tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":420,"wires":[["37cdaf1.8b48b5","d6052560.9dc5a8","eb8bb07d.f8bf1"]]},{"id":"1e7bac60.9070e4","type":"Drives","z":"102eb532.2b220b","name":"","x":330,"y":120,"wires":[["ba8a928c.807c3"]]},{"id":"654029e0.d5fec8","type":"function","z":"102eb532.2b220b","name":"extract","func":"var c1 = msg.payload[0].usage;\nvar c2 = msg.payload[1].usage;\nvar c3 = msg.payload[2].usage;\nvar c4 = msg.payload[3].usage;\n    \nmsg.payload = (c1+c2+c3+c4)/4;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":380,"wires":[["996de197.1db3c"]]},{"id":"37cdaf1.8b48b5","type":"cpu","z":"102eb532.2b220b","name":"","msgCore":true,"msgOverall":false,"msgArray":false,"msgTemp":false,"x":390,"y":420,"wires":[["699db4c6.4de98c"]]},{"id":"d6052560.9dc5a8","type":"cpu","z":"102eb532.2b220b","name":"","msgCore":false,"msgOverall":false,"msgArray":true,"msgTemp":false,"x":390,"y":380,"wires":[["654029e0.d5fec8"]]},{"id":"eb8bb07d.f8bf1","type":"cpu","z":"102eb532.2b220b","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":390,"y":460,"wires":[["e3d05465.96edb8","aa154a9a.6ad888"]]},{"id":"c94ec5e9.b74d48","type":"ui_button","z":"c347e56d.44bb18","name":"Next","group":"3cfdc2ce.ead1fe","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_forward","payload":"+1","payloadType":"str","topic":"","x":170,"y":80,"wires":[["384e2635.de37ba"]]},{"id":"384e2635.de37ba","type":"ui_ui_control","z":"c347e56d.44bb18","name":"Control tabs","x":370,"y":80,"wires":[[]]},{"id":"1e2307df.291608","type":"ui_button","z":"c347e56d.44bb18","name":"Prev","group":"3cfdc2ce.ead1fe","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_back","payload":"-1","payloadType":"str","topic":"","x":170,"y":120,"wires":[["384e2635.de37ba"]]},{"id":"40253acd.4feae4","type":"ui_button","z":"c347e56d.44bb18","name":"Refresh","group":"3cfdc2ce.ead1fe","order":3,"width":"2","height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"replay","payload":"{tab:\"\"}","payloadType":"str","topic":"","x":160,"y":40,"wires":[["384e2635.de37ba"]]},{"id":"85e7e1b8.3dff8","type":"inject","z":"c347e56d.44bb18","name":"1 min tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["31fe531d.744efc"]]},{"id":"bdbdd0f1.4114c","type":"ui_text","z":"c347e56d.44bb18","group":"3cfdc2ce.ead1fe","order":1,"width":0,"height":0,"name":"Date time","label":"{{ msg.payload.date }}","format":"{{ msg.payload.time }}","layout":"row-spread","x":420,"y":160,"wires":[]},{"id":"43a59cf8.bbbdc4","type":"comment","z":"c347e56d.44bb18","name":"System","info":"","x":350,"y":40,"wires":[]},{"id":"be2dde80.adad5","type":"ui_button","z":"c347e56d.44bb18","name":"Next","group":"3dc7aed3.b39402","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_forward","payload":"+1","payloadType":"str","topic":"","x":170,"y":260,"wires":[["cf2efc65.7e52f"]]},{"id":"cf2efc65.7e52f","type":"ui_ui_control","z":"c347e56d.44bb18","name":"Control tabs","x":370,"y":260,"wires":[[]]},{"id":"c1953d61.6ab92","type":"ui_button","z":"c347e56d.44bb18","name":"Prev","group":"3dc7aed3.b39402","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_back","payload":"-1","payloadType":"str","topic":"","x":170,"y":300,"wires":[["cf2efc65.7e52f"]]},{"id":"372c1c73.f88814","type":"ui_button","z":"c347e56d.44bb18","name":"Refresh","group":"3dc7aed3.b39402","order":3,"width":"2","height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"replay","payload":"{tab:\"\"}","payloadType":"str","topic":"","x":160,"y":220,"wires":[["cf2efc65.7e52f","b84a5a99.4a57a8"]]},{"id":"eac0b439.091c38","type":"inject","z":"c347e56d.44bb18","name":"1 min tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":130,"y":340,"wires":[["cab85a3.81daba8"]]},{"id":"cab85a3.81daba8","type":"function","z":"c347e56d.44bb18","name":"date_time","func":"var d_obj = new Date().toString(); \n// msg.payload = d_obj.slice(0, 16) + '<br>' + d_obj.slice(16, 33) + '<br>' + d_obj.slice(35, -1); \nmsg.payload = {date: d_obj.slice(0, 16), time: d_obj.slice(16, 24), gmt: d_obj.slice(35, -1)};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":340,"wires":[["dbeeb47b.2ffee8"]]},{"id":"dbeeb47b.2ffee8","type":"ui_text","z":"c347e56d.44bb18","group":"3dc7aed3.b39402","order":1,"width":0,"height":0,"name":"Date time","label":"{{ msg.payload.date }}","format":"{{ msg.payload.time }}","layout":"row-spread","x":420,"y":340,"wires":[]},{"id":"f55e6a44.4101a8","type":"comment","z":"c347e56d.44bb18","name":"Home","info":"","x":350,"y":220,"wires":[]},{"id":"92fd450.350a4b8","type":"ui_button","z":"c347e56d.44bb18","name":"Next","group":"9c7278b.0d67288","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_forward","payload":"+1","payloadType":"str","topic":"","x":170,"y":440,"wires":[["1a4f9bcd.626854"]]},{"id":"1a4f9bcd.626854","type":"ui_ui_control","z":"c347e56d.44bb18","name":"Control tabs","x":370,"y":440,"wires":[[]]},{"id":"7f677ed8.8f0a5","type":"ui_button","z":"c347e56d.44bb18","name":"Prev","group":"9c7278b.0d67288","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_back","payload":"-1","payloadType":"str","topic":"","x":170,"y":480,"wires":[["1a4f9bcd.626854"]]},{"id":"37433ca5.a09334","type":"ui_button","z":"c347e56d.44bb18","name":"Refresh","group":"9c7278b.0d67288","order":3,"width":"2","height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"replay","payload":"{tab:\"\"}","payloadType":"str","topic":"","x":160,"y":400,"wires":[["1a4f9bcd.626854"]]},{"id":"3fca8af0.9e0e86","type":"inject","z":"c347e56d.44bb18","name":"1 min tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":130,"y":520,"wires":[["79a964e2.c8045c"]]},{"id":"79a964e2.c8045c","type":"function","z":"c347e56d.44bb18","name":"date_time","func":"var d_obj = new Date().toString(); \n// msg.payload = d_obj.slice(0, 16) + '<br>' + d_obj.slice(16, 33) + '<br>' + d_obj.slice(35, -1); \nmsg.payload = {date: d_obj.slice(0, 16), time: d_obj.slice(16, 24), gmt: d_obj.slice(35, -1)};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":520,"wires":[["ec1bd355.04211"]]},{"id":"ec1bd355.04211","type":"ui_text","z":"c347e56d.44bb18","group":"9c7278b.0d67288","order":1,"width":0,"height":0,"name":"Date time","label":"{{ msg.payload.date }}","format":"{{ msg.payload.time }}","layout":"row-spread","x":420,"y":520,"wires":[]},{"id":"d9e09a98.caeef8","type":"comment","z":"c347e56d.44bb18","name":"Temp & Hum","info":"","x":370,"y":400,"wires":[]},{"id":"325fb810.177658","type":"ui_button","z":"c347e56d.44bb18","name":"Next","group":"5d780ecd.16f8f","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_forward","payload":"+1","payloadType":"str","topic":"","x":170,"y":620,"wires":[["31593db6.9b7ca2"]]},{"id":"31593db6.9b7ca2","type":"ui_ui_control","z":"c347e56d.44bb18","name":"Control tabs","x":370,"y":620,"wires":[[]]},{"id":"8c50af1f.2005a","type":"ui_button","z":"c347e56d.44bb18","name":"Prev","group":"5d780ecd.16f8f","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_back","payload":"-1","payloadType":"str","topic":"","x":170,"y":660,"wires":[["31593db6.9b7ca2"]]},{"id":"35efdb12.963e54","type":"ui_button","z":"c347e56d.44bb18","name":"Refresh","group":"5d780ecd.16f8f","order":3,"width":"2","height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"replay","payload":"{tab:\"\"}","payloadType":"str","topic":"","x":160,"y":580,"wires":[["31593db6.9b7ca2","5dd3068d.5c26a8"]]},{"id":"cca9d8ea.613688","type":"inject","z":"c347e56d.44bb18","name":"1 min tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"4","topic":"","payload":"","payloadType":"date","x":130,"y":700,"wires":[["29e179a2.242c16"]]},{"id":"29e179a2.242c16","type":"function","z":"c347e56d.44bb18","name":"date_time","func":"var d_obj = new Date().toString(); \n// msg.payload = d_obj.slice(0, 16) + '<br>' + d_obj.slice(16, 33) + '<br>' + d_obj.slice(35, -1); \nmsg.payload = {date: d_obj.slice(0, 16), time: d_obj.slice(16, 24), gmt: d_obj.slice(35, -1)};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":700,"wires":[["5d213371.769fec"]]},{"id":"5d213371.769fec","type":"ui_text","z":"c347e56d.44bb18","group":"5d780ecd.16f8f","order":1,"width":0,"height":0,"name":"Date time","label":"{{ msg.payload.date }}","format":"{{ msg.payload.time }}","layout":"row-spread","x":420,"y":700,"wires":[]},{"id":"e28c192c.b646f8","type":"comment","z":"c347e56d.44bb18","name":"Device","info":"","x":350,"y":580,"wires":[]},{"id":"31fe531d.744efc","type":"function","z":"c347e56d.44bb18","name":"date_time","func":"var d_obj = new Date().toString(); \n// msg.payload = d_obj.slice(0, 16) + '<br>' + d_obj.slice(16, 33) + '<br>' + d_obj.slice(35, -1); \nmsg.payload = {date: d_obj.slice(0, 16), time: d_obj.slice(16, 24), gmt: d_obj.slice(35, -1)};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":160,"wires":[["bdbdd0f1.4114c"]]},{"id":"1849c797.5f7e58","type":"function","z":"17f061ae.cde8fe","name":"","func":"var state = (msg.payload.failed == 5) ? 'DOWN' : 'UP';\nvar target = msg.payload.target.host;\n\nmsg = {topic:target, payload:state};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":420,"wires":[["e6944676.56ed48"]]},{"id":"c5c32fd9.239be","type":"trigger","z":"17f061ae.cde8fe","name":"DOWN","op1":"DOWN","op2":"DOWN","op1type":"str","op2type":"str","duration":"60","extend":false,"units":"s","reset":"UP","bytopic":"all","topic":"topic","outputs":1,"x":660,"y":460,"wires":[["a37d1c0d.8de03"]]},{"id":"e6944676.56ed48","type":"switch","z":"17f061ae.cde8fe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"UP","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":460,"wires":[["3871c34a.21176c"],["c5c32fd9.239be"]]},{"id":"62555082.a1fc2","type":"mqtt out","z":"65ed6b3f.209e34","name":"","topic":"cmnd/childroom/power","qos":"0","retain":"true","broker":"63b660d.12feea","x":870,"y":220,"wires":[]},{"id":"7316b5f0.3cac0c","type":"inject","z":"65ed6b3f.209e34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"cmnd/childroom/power","payload":"off","payloadType":"str","x":610,"y":260,"wires":[["62555082.a1fc2"]]},{"id":"5a5fc696.ddf6b8","type":"mqtt in","z":"de429073.22d3d","name":"Energy","topic":"stat/smart_plug/STATUS10","qos":"1","datatype":"json","broker":"63b660d.12feea","x":110,"y":360,"wires":[["474c31ca.3e19f","c107e7d0.dbf848"]]},{"id":"c107e7d0.dbf848","type":"function","z":"de429073.22d3d","name":"","func":"var msg1,msg2,msg3;\n\nmsg1 = { payload: msg.payload.StatusSNS.ENERGY.Power};\nmsg2 = { payload: msg.payload.StatusSNS.ENERGY.Current};\nmsg3 = { payload: msg.payload.StatusSNS.ENERGY.Voltage};\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":200,"y":420,"wires":[["e28cb2b0.2e422","de510b70.99cd68"],["482b7bdc.8f2974","e1415d21.9f0e1"],["ca45b4c1.fa0c18","6decf2a6.8b898c"]]},{"id":"7fa78dca.801a94","type":"ui_switch","z":"3d2d6f9d.31476","name":"","label":"Main Bedroom","tooltip":"","group":"32b8b347.ed3c9c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/main_bedroom/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":260,"y":460,"wires":[["6c12f685.e95f28"]]},{"id":"9f47b044.2fc27","type":"mqtt in","z":"3d2d6f9d.31476","name":"Get power state","topic":"stat/main_bedroom/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":120,"y":420,"wires":[["bf8d80c5.02529","b1ffe8a2.8d4b08"]]},{"id":"b1ffe8a2.8d4b08","type":"debug","z":"3d2d6f9d.31476","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":380,"wires":[]},{"id":"6c12f685.e95f28","type":"mqtt out","z":"3d2d6f9d.31476","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":490,"y":520,"wires":[]},{"id":"bf8d80c5.02529","type":"function","z":"3d2d6f9d.31476","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":460,"wires":[["b1ffe8a2.8d4b08","7fa78dca.801a94"]]},{"id":"bd5e4edd.c544a","type":"ui_switch","z":"3d2d6f9d.31476","name":"","label":"Main Bedroom2","tooltip":"","group":"32b8b347.ed3c9c","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/main_bedroom2/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":260,"y":600,"wires":[["6c12f685.e95f28"]]},{"id":"7ab700b.e9d33","type":"mqtt in","z":"3d2d6f9d.31476","name":"Get power state","topic":"stat/main_bedroom2/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":120,"y":560,"wires":[["fde8888e.3dedb8"]]},{"id":"fde8888e.3dedb8","type":"function","z":"3d2d6f9d.31476","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":600,"wires":[["bd5e4edd.c544a"]]},{"id":"ca596660.6b6e88","type":"ui_switch","z":"f3a9bdc7.c5231","name":"","label":"Childroom","tooltip":"","group":"5be43589.d0319c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/childroom/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":270,"y":400,"wires":[["cff93a6c.d1e878"]]},{"id":"33f0d009.4e594","type":"mqtt in","z":"f3a9bdc7.c5231","name":"Get power state","topic":"stat/childroom/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":140,"y":360,"wires":[["f9c6320b.a5868"]]},{"id":"cff93a6c.d1e878","type":"mqtt out","z":"f3a9bdc7.c5231","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":490,"y":320,"wires":[]},{"id":"f9c6320b.a5868","type":"function","z":"f3a9bdc7.c5231","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":400,"wires":[["ca596660.6b6e88"]]},{"id":"2f761233.628cce","type":"ui_switch","z":"2d58bc01.d75ec4","name":"","label":"Front1","tooltip":"","group":"f9cb5921.360b48","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/front_porch/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":230,"y":740,"wires":[["ce188cd2.cbdb1"]]},{"id":"882234bd.9cdd68","type":"mqtt in","z":"2d58bc01.d75ec4","name":"Get power state","topic":"stat/front_porch/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":120,"y":700,"wires":[["41fdc85.466fa38"]]},{"id":"ce188cd2.cbdb1","type":"mqtt out","z":"2d58bc01.d75ec4","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":490,"y":740,"wires":[]},{"id":"41fdc85.466fa38","type":"function","z":"2d58bc01.d75ec4","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":740,"wires":[["2f761233.628cce"]]},{"id":"29b025c8.4470fa","type":"ui_switch","z":"2d58bc01.d75ec4","name":"","label":"Front2","tooltip":"","group":"f9cb5921.360b48","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/front_porch2/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":270,"y":860,"wires":[["ce188cd2.cbdb1"]]},{"id":"3d042f0c.ef0d7","type":"mqtt in","z":"2d58bc01.d75ec4","name":"Get power state","topic":"stat/front_porch2/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":160,"y":820,"wires":[["3d9f586c.c05888"]]},{"id":"3d9f586c.c05888","type":"function","z":"2d58bc01.d75ec4","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":860,"wires":[["29b025c8.4470fa"]]},{"id":"240a6649.fe186a","type":"ui_switch","z":"2d58bc01.d75ec4","name":"","label":"Rear1","tooltip":"","group":"f9cb5921.360b48","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/rear_porch/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":550,"y":940,"wires":[["ce188cd2.cbdb1"]]},{"id":"69082ce1.d133d4","type":"mqtt in","z":"2d58bc01.d75ec4","name":"Get power state","topic":"stat/rear_porch/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":440,"y":900,"wires":[["410eaa18.d87da4"]]},{"id":"410eaa18.d87da4","type":"function","z":"2d58bc01.d75ec4","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":940,"wires":[["240a6649.fe186a"]]},{"id":"ac3ba508.ce3418","type":"ui_switch","z":"2d58bc01.d75ec4","name":"","label":"Rear2","tooltip":"","group":"f9cb5921.360b48","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/rear_porch2/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":830,"y":860,"wires":[["ce188cd2.cbdb1"]]},{"id":"b3f214bd.dae818","type":"mqtt in","z":"2d58bc01.d75ec4","name":"Get power state","topic":"stat/rear_porch2/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":720,"y":820,"wires":[["af1d3961.f9f0f8"]]},{"id":"af1d3961.f9f0f8","type":"function","z":"2d58bc01.d75ec4","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":860,"wires":[["ac3ba508.ce3418"]]},{"id":"44f6ceb0.eee39","type":"mqtt out","z":"c347e56d.44bb18","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":890,"y":380,"wires":[]},{"id":"a08a7c97.2372c","type":"inject","z":"de429073.22d3d","name":"every 10 seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"1","topic":"cmnd/smart_plug/status","payload":"10","payloadType":"num","x":550,"y":700,"wires":[["8be1c16d.fdfad"]]},{"id":"eaee101d.3ab24","type":"ui_switch","z":"de429073.22d3d","name":"","label":"Switch","tooltip":"","group":"6d25d302.16b96c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/smart_plug/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":270,"y":660,"wires":[["8be1c16d.fdfad"]]},{"id":"a230c5d1.06e7d8","type":"mqtt in","z":"de429073.22d3d","name":"PowerGet power state","topic":"stat/smart_plug/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":160,"y":580,"wires":[["a0c257d0.988a58"]]},{"id":"a0c257d0.988a58","type":"function","z":"de429073.22d3d","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":620,"wires":[["eaee101d.3ab24"]]},{"id":"eee027d8.3688e8","type":"function","z":"2d58bc01.d75ec4","name":"GET POWER STATE","func":"var result = [];\nvar payloads = [\n    ['cmnd/front_porch/status',5],\n    ['cmnd/front_porch/status',11],\n    ['cmnd/front_porch2/status',5],\n    ['cmnd/front_porch2/status',11],\n    ['cmnd/rear_porch/status',5],\n    ['cmnd/rear_porch/status',11],\n    ['cmnd/rear_porch2/status',5],\n    ['cmnd/rear_porch2/status',11],\n    ['cmnd/kitchen/status',5],\n    ['cmnd/kitchen/status',11],\n    ];\npayloads.forEach(function(v, i){\n   result.push({topic:v[0], payload:v[1]});\n});\n\nreturn [result];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":640,"wires":[["ce188cd2.cbdb1"]]},{"id":"9ad6c9aa.4e6648","type":"inject","z":"2d58bc01.d75ec4","name":"every 1 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":190,"y":580,"wires":[["eee027d8.3688e8"]]},{"id":"4b8cf480.28b36c","type":"function","z":"de429073.22d3d","name":"get network & uptime","func":"var result = [];\nvar payloads = [\n    ['cmnd/smart_plug/status',5],\n    ['cmnd/smart_plug/status',11],\n    ];\npayloads.forEach(function(v, i){\n   result.push({topic:v[0], payload:v[1]});\n});\n\nreturn [result];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":620,"wires":[["8be1c16d.fdfad"]]},{"id":"54996f0c.31db5","type":"inject","z":"3d2d6f9d.31476","name":"every 1 minutes","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":170,"y":680,"wires":[["d13b199c.8bdfc8"]]},{"id":"d13b199c.8bdfc8","type":"function","z":"3d2d6f9d.31476","name":"get network & uptime","func":"var result = [];\nvar payloads = [\n    ['cmnd/main_bedroom/status',5],\n    ['cmnd/main_bedroom/status',11],\n    ['cmnd/main_bedroom2/status',5],\n    ['cmnd/main_bedroom2/status',11],\n    ];\npayloads.forEach(function(v, i){\n   result.push({topic:v[0], payload:v[1]});\n});\n\nreturn [result];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":740,"wires":[["6c12f685.e95f28"]]},{"id":"fe1afcf7.7376","type":"inject","z":"f3a9bdc7.c5231","name":"every 1 minutes","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":190,"y":460,"wires":[["f14b19bc.e48bd8"]]},{"id":"f14b19bc.e48bd8","type":"function","z":"f3a9bdc7.c5231","name":"get network & uptime","func":"var result = [];\nvar payloads = [\n    ['cmnd/childroom/status',5],\n    ['cmnd/childroom/status',11],\n    ];\npayloads.forEach(function(v, i){\n   result.push({topic:v[0], payload:v[1]});\n});\n\nreturn [result];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":500,"wires":[["cff93a6c.d1e878"]]},{"id":"e55ed5d4.390f38","type":"ui_switch","z":"2f3557c4.349068","name":"","label":"Classroom A1","tooltip":"","group":"10561765.e1ffa9","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/classroom_a1/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":260,"y":520,"wires":[["16d9417e.a07f8f"]]},{"id":"32c0164e.78e00a","type":"mqtt in","z":"2f3557c4.349068","name":"Get power state","topic":"stat/classroom_a1/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":120,"y":480,"wires":[["5ab69b1a.f5afe4"]]},{"id":"5ab69b1a.f5afe4","type":"function","z":"2f3557c4.349068","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":520,"wires":[["e55ed5d4.390f38"]]},{"id":"8ee7d7cd.93f588","type":"function","z":"2f3557c4.349068","name":"GET POWER STATE","func":"var result = [];\nvar payloads = [\n    ['cmnd/classroom_a1/status',5],\n    ['cmnd/classroom_a1/status',11],\n    ['cmnd/classroom_a2/status',5],\n    ['cmnd/classroom_a2/status',11],\n    ['cmnd/classroom_a3/status',5],\n    ['cmnd/classroom_a3/status',11],\n    ];\npayloads.forEach(function(v, i){\n   result.push({topic:v[0], payload:v[1]});\n});\n\nreturn [result];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":640,"wires":[["16d9417e.a07f8f"]]},{"id":"b63ff6c5.276038","type":"inject","z":"2f3557c4.349068","name":"every 1 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":530,"y":580,"wires":[["8ee7d7cd.93f588"]]},{"id":"aab0af25.26742","type":"ui_switch","z":"2f3557c4.349068","name":"","label":"Classroom A2","tooltip":"","group":"10561765.e1ffa9","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/classroom_a2/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":260,"y":640,"wires":[["16d9417e.a07f8f"]]},{"id":"b337a35f.beb2","type":"mqtt in","z":"2f3557c4.349068","name":"Get power state","topic":"stat/classroom_a2/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":120,"y":600,"wires":[["a4c9b77a.f8a618"]]},{"id":"a4c9b77a.f8a618","type":"function","z":"2f3557c4.349068","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":640,"wires":[["aab0af25.26742"]]},{"id":"7d9856d5.4ef9e8","type":"ui_switch","z":"2f3557c4.349068","name":"","label":"Classroom A3","tooltip":"","group":"10561765.e1ffa9","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/classroom_a3/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":260,"y":760,"wires":[["16d9417e.a07f8f"]]},{"id":"627fbf76.f9e51","type":"mqtt in","z":"2f3557c4.349068","name":"Get power state","topic":"stat/classroom_a3/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":120,"y":720,"wires":[["57a3f891.3099b8"]]},{"id":"57a3f891.3099b8","type":"function","z":"2f3557c4.349068","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":760,"wires":[["7d9856d5.4ef9e8"]]},{"id":"cb7449fd.84b578","type":"mqtt out","z":"ee37ba65.684488","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":450,"y":740,"wires":[]},{"id":"1ab7310d.a6e53f","type":"ui_switch","z":"ee37ba65.684488","name":"","label":"Classroom B1","tooltip":"","group":"10561765.e1ffa9","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/classroom_b1/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":260,"y":520,"wires":[["cb7449fd.84b578"]]},{"id":"70e7e942.d90ab8","type":"mqtt in","z":"ee37ba65.684488","name":"Get power state","topic":"stat/classroom_b1/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":120,"y":480,"wires":[["ad91b98f.d51828"]]},{"id":"ad91b98f.d51828","type":"function","z":"ee37ba65.684488","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":520,"wires":[["1ab7310d.a6e53f"]]},{"id":"d8973a2.f1127c8","type":"function","z":"ee37ba65.684488","name":"GET POWER STATE","func":"var result = [];\nvar payloads = [\n    ['cmnd/classroom_b1/status',5],\n    ['cmnd/classroom_b1/status',11],\n    ['cmnd/classroom_b2/status',5],\n    ['cmnd/classroom_b2/status',11],\n    ['cmnd/classroom_b3/status',5],\n    ['cmnd/classroom_b3/status',11],\n    ];\npayloads.forEach(function(v, i){\n   result.push({topic:v[0], payload:v[1]});\n});\n\nreturn [result];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":640,"wires":[["cb7449fd.84b578"]]},{"id":"2444a509.9439aa","type":"inject","z":"ee37ba65.684488","name":"every 1 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":530,"y":580,"wires":[["d8973a2.f1127c8"]]},{"id":"e612359f.d9dd78","type":"ui_switch","z":"ee37ba65.684488","name":"","label":"Classroom B2","tooltip":"","group":"10561765.e1ffa9","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/classroom_b2/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":260,"y":640,"wires":[["cb7449fd.84b578"]]},{"id":"9e5a1eb8.7b845","type":"mqtt in","z":"ee37ba65.684488","name":"Get power state","topic":"stat/classroom_b2/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":120,"y":600,"wires":[["f4c50519.255f68"]]},{"id":"f4c50519.255f68","type":"function","z":"ee37ba65.684488","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":640,"wires":[["e612359f.d9dd78"]]},{"id":"a6078799.8b4b08","type":"ui_switch","z":"ee37ba65.684488","name":"","label":"Classroom B3","tooltip":"","group":"10561765.e1ffa9","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/classroom_b3/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":260,"y":760,"wires":[["cb7449fd.84b578"]]},{"id":"6b1a9274.4558dc","type":"mqtt in","z":"ee37ba65.684488","name":"Get power state","topic":"stat/classroom_b3/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":120,"y":720,"wires":[["f273ee7e.eac61"]]},{"id":"f273ee7e.eac61","type":"function","z":"ee37ba65.684488","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":760,"wires":[["a6078799.8b4b08"]]},{"id":"ccb808ab.d5b848","type":"ui_switch","z":"2d58bc01.d75ec4","name":"","label":"Kitchen","tooltip":"","group":"eb805a04.4f40b8","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cmnd/kitchen/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":860,"y":680,"wires":[["ce188cd2.cbdb1"]]},{"id":"97627d53.bba72","type":"mqtt in","z":"2d58bc01.d75ec4","name":"Get power state","topic":"stat/kitchen/RESULT","qos":"1","datatype":"json","broker":"63b660d.12feea","x":740,"y":640,"wires":[["e948e765.3c35b8"]]},{"id":"e948e765.3c35b8","type":"function","z":"2d58bc01.d75ec4","name":"","func":"msg.payload = msg.payload.POWER;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":680,"wires":[["ccb808ab.d5b848"]]},{"id":"68f4c42e.53cd9c","type":"mqtt out","z":"ed5e3229.45cbd","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":350,"y":180,"wires":[]},{"id":"a771064d.f35a78","type":"telegram command","z":"ed5e3229.45cbd","name":"","command":"/iot","bot":"fee37447.2fb938","strict":false,"hasresponse":false,"x":90,"y":60,"wires":[["713b237e.0bd2bc","74f23d51.3f3174"]]},{"id":"713b237e.0bd2bc","type":"function","z":"ed5e3229.45cbd","name":"","func":"var recv = msg.originalMessage.text.toLowerCase();\nvar arcv = recv.split(\" \");\nvar entity = [\n    \"a\",\"a1\",\"a2\",\"a3\",\n    \"b\",\"b1\",\"b2\",\"b3\",\n    \"c\",\n    \"k\",\n    \"m\",\"m1\",\"m2\",\n    \"f\",\"f1\",\"f2\",\n    \"r\",\"r1\",\"r2\",\n    \"s\",\n    \"main_bedroom\",\n    \"main_bedroom2\",\n    \"childroom\",\n    \"classroom_a\",\n    \"classroom_a2\",\n    \"classroom_a3\",\n    \"classroom_b\",\n    \"front_porch\",\n    \"front_porch2\",\n    \"rear_porch\",\n    \"rear_porch2\",\n    \"kitchen\",\n    \"smart_plug\"\n];\nvar cmd = [\"on\",\"off\"];\nvar alias = {\n    \"a1\":\"classroom_a1\", \n    \"a2\":\"classroom_a2\",\n    \"a3\":\"classroom_a3\",\n    \"b1\":\"classroom_b1\",\n    \"b2\":\"classroom_b2\",\n    \"b3\":\"classroom_b3\",\n    \"c\":\"childroom\",\n    \"k\":\"kitchen\",\n    \"m1\":\"main_bedroom\",\n    \"m2\":\"main_bedroom2\",\n    \"f1\":\"front_porch\",\n    \"f2\":\"front_porch2\",\n    \"r1\":\"rear_porch\",\n    \"r2\":\"rear_porch2\",\n    \"s\":\"smart_plug\"\n};\n\nmsg = [[\n    {error:true, payload:\"Unknown command !. Please try again...\"},\n]];\n\nif (arcv.length == 3) {\n    if (entity.includes(arcv[1])) {\n        if (cmd.includes(arcv[2])) {\n            \n            if (alias[arcv[1]] !== undefined) {\n                msg = [[\n                    {error:false, payload:arcv[2], topic:\"cmnd/\" + alias[arcv[1]] + \"/power\"},\n                ]];\n            } else if (arcv[1] == \"classroom_a\" || arcv[1] == \"a\") {\n                msg = [[\n                    {error:false, payload:arcv[2], topic:\"cmnd/classroom_a1/power\"},\n                    {error:false, payload:arcv[2], topic:\"cmnd/classroom_a2/power\"},\n                ]];\n            } else if (arcv[1] == \"classroom_b\" || arcv[1] == \"b\") {\n                msg = [[\n                    {error:false, payload:arcv[2], topic:\"cmnd/classroom_b1/power\"},\n                    {error:false, payload:arcv[2], topic:\"cmnd/classroom_b2/power\"},\n                    {error:false, payload:arcv[2], topic:\"cmnd/classroom_b3/power\"},\n                ]];\n            } else if (arcv[1] == \"f\") {\n                msg = [[\n                    {error:false, payload:arcv[2], topic:\"cmnd/front_porch/power\"},\n                    {error:false, payload:arcv[2], topic:\"cmnd/front_porch2/power\"},\n                ]];\n            } else if (arcv[1] == \"m\") {\n                msg = [[\n                    {error:false, payload:arcv[2], topic:\"cmnd/main_bedroom/power\"},\n                    {error:false, payload:arcv[2], topic:\"cmnd/main_bedroom2/power\"},\n                ]];\n            } else if (arcv[1] == \"r\") {\n                msg = [[\n                    {error:false, payload:arcv[2], topic:\"cmnd/rear_porch/power\"},\n                    {error:false, payload:arcv[2], topic:\"cmnd/rear_porch2/power\"},\n                ]];\n            } else {\n                msg = [[\n                    {error:false, payload:arcv[2], topic:\"cmnd/\" + arcv[1] + \"/power\"},\n                ]];\n            }\n        }\n    }\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":100,"wires":[["4f36cb33.a9d3a4","74f23d51.3f3174"]]},{"id":"4f36cb33.a9d3a4","type":"switch","z":"ed5e3229.45cbd","name":"is error","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":140,"wires":[["1f9f9e17.8d1d42"],["68f4c42e.53cd9c","3b050c01.26e8f4"]]},{"id":"90a93b5d.b8eec8","type":"function","z":"2f3557c4.349068","name":"Kelas A2: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/classroom_a2/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":180,"wires":[["bc8410c6.7a9a7"]]},{"id":"bc8410c6.7a9a7","type":"mqtt out","z":"2f3557c4.349068","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":450,"y":280,"wires":[]},{"id":"bc85450.bf0b7b8","type":"function","z":"2f3557c4.349068","name":"Kelas A2: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/classroom_a2/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["bc8410c6.7a9a7"]]},{"id":"928db84b.f0c108","type":"function","z":"f3a9bdc7.c5231","name":"Kamar Anak: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/childroom/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":100,"wires":[["cff93a6c.d1e878"]]},{"id":"5e72f98f.103f18","type":"function","z":"f3a9bdc7.c5231","name":"Kamar Anak: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/childroom/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":160,"wires":[["cff93a6c.d1e878"]]},{"id":"bd1ad8f.5142928","type":"function","z":"3d2d6f9d.31476","name":"Kamar 1: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/main_bedroom/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":100,"wires":[["6c12f685.e95f28"]]},{"id":"1c1bac94.5588d3","type":"function","z":"3d2d6f9d.31476","name":"Kamar 1: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/main_bedroom/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["6c12f685.e95f28"]]},{"id":"755558c5.c94f18","type":"function","z":"3d2d6f9d.31476","name":"Kamar 2: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/main_bedroom2/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":220,"wires":[["6c12f685.e95f28"]]},{"id":"21685091.2bb8a","type":"function","z":"3d2d6f9d.31476","name":"Kamar 2: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/main_bedroom2/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":280,"wires":[["6c12f685.e95f28"]]},{"id":"28e0fafa.92d076","type":"function","z":"de429073.22d3d","name":"Smart Plug: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/smart_plug/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":40,"wires":[["d4484d32.d13ab"]]},{"id":"65fa50d9.8002a","type":"function","z":"de429073.22d3d","name":"Smart Plug: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/smart_plug/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":100,"wires":[["d4484d32.d13ab"]]},{"id":"d4484d32.d13ab","type":"mqtt out","z":"de429073.22d3d","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":810,"y":80,"wires":[]},{"id":"d3e232c4.cd0d5","type":"function","z":"ee37ba65.684488","name":"Kelas B: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/classroom_b1/power\" },\n        { payload: \"on\", topic: \"cmnd/classroom_b2/power\" },\n        { payload: \"on\", topic: \"cmnd/classroom_b3/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":160,"wires":[["faf549fa.c37688"]]},{"id":"faf549fa.c37688","type":"mqtt out","z":"ee37ba65.684488","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":450,"y":280,"wires":[]},{"id":"ec7b2e9f.dca36","type":"function","z":"ee37ba65.684488","name":"Kelas B: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/classroom_b1/power\" },\n        { payload: \"off\", topic: \"cmnd/classroom_b2/power\" },\n        { payload: \"off\", topic: \"cmnd/classroom_b3/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":220,"wires":[["faf549fa.c37688"]]},{"id":"e1844772.00d538","type":"function","z":"2d58bc01.d75ec4","name":"front_porch: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/front_porch/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":40,"wires":[["15710e32.075122"]]},{"id":"15710e32.075122","type":"mqtt out","z":"2d58bc01.d75ec4","name":"","topic":"","qos":"0","retain":"true","broker":"63b660d.12feea","x":570,"y":480,"wires":[]},{"id":"8028d0ea.3b9ed","type":"function","z":"2d58bc01.d75ec4","name":"front_porch: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/front_porch/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":80,"wires":[["15710e32.075122"]]},{"id":"5a22199f.9cf978","type":"function","z":"2d58bc01.d75ec4","name":"front_porch2: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/front_porch2/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":140,"wires":[["15710e32.075122"]]},{"id":"ed6b906e.d4fc8","type":"function","z":"2d58bc01.d75ec4","name":"front_porch2: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/front_porch2/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":180,"wires":[["15710e32.075122"]]},{"id":"96d08243.9bcfd","type":"function","z":"2d58bc01.d75ec4","name":"rear_porch: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/rear_porch/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":240,"wires":[["15710e32.075122"]]},{"id":"1c71eed0.791041","type":"function","z":"2d58bc01.d75ec4","name":"rear_porch: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/rear_porch/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":280,"wires":[["15710e32.075122"]]},{"id":"75407400.4d73cc","type":"function","z":"2d58bc01.d75ec4","name":"rear_porch2: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/rear_porch2/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":340,"wires":[["15710e32.075122"]]},{"id":"a90f9180.d360d","type":"function","z":"2d58bc01.d75ec4","name":"rear_porch2: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/rear_porch2/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":380,"wires":[["15710e32.075122"]]},{"id":"b29780dd.fd81d","type":"function","z":"2d58bc01.d75ec4","name":"kitchen: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/kitchen/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":440,"wires":[["15710e32.075122"]]},{"id":"a9187765.57bf38","type":"function","z":"2d58bc01.d75ec4","name":"kitchen: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/kitchen/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":480,"wires":[["15710e32.075122"]]},{"id":"5dd3068d.5c26a8","type":"function","z":"c347e56d.44bb18","name":"GET NETWORK & UPTIME","func":"var result = [];\nvar payloads = [\n    ['cmnd/smart_plug/status',5],\n    ['cmnd/smart_plug/status',11],\n    ['cmnd/front_porch/status',5],\n    ['cmnd/front_porch/status',11],\n    ['cmnd/front_porch2/status',5],\n    ['cmnd/front_porch2/status',11],\n    ['cmnd/rear_porch/status',5],\n    ['cmnd/rear_porch/status',11],\n    ['cmnd/rear_porch2/status',5],\n    ['cmnd/rear_porch2/status',11],\n    ['cmnd/kitchen/status',5],\n    ['cmnd/kitchen/status',11],\n    ['cmnd/main_bedroom/status',5],\n    ['cmnd/main_bedroom/status',11],\n    ['cmnd/main_bedroom2/status',5],\n    ['cmnd/main_bedroom2/status',11],\n    ['cmnd/childroom/status',5],\n    ['cmnd/childroom/status',11],\n    ['cmnd/classroom_a1/status',5],\n    ['cmnd/classroom_a1/status',11],\n    ['cmnd/classroom_a2/status',5],\n    ['cmnd/classroom_a2/status',11],\n    ['cmnd/classroom_a3/status',5],\n    ['cmnd/classroom_a3/status',11],\n    ['cmnd/classroom_b1/status',5],\n    ['cmnd/classroom_b1/status',11],\n    ['cmnd/classroom_b2/status',5],\n    ['cmnd/classroom_b2/status',11],\n    ['cmnd/classroom_b3/status',5],\n    ['cmnd/classroom_b3/status',11],\n    ];\npayloads.forEach(function(v, i){\n   result.push({topic:v[0], payload:v[1]});\n});\n\nreturn [result];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":580,"wires":[["44f6ceb0.eee39"]]},{"id":"b84a5a99.4a57a8","type":"function","z":"c347e56d.44bb18","name":"GET POWER STATE","func":"var result = [];\nvar payloads = [\n    ['cmnd/smart_plug/power',''],\n    ['cmnd/smart_plug/status',10],\n    ['cmnd/front_porch/power',''],\n    ['cmnd/front_porch2/power',''],\n    ['cmnd/rear_porch/power',''],\n    ['cmnd/rear_porch2/power',''],\n    ['cmnd/main_bedroom/power',''],\n    ['cmnd/main_bedroom2/power',''],\n    ['cmnd/childroom/power',''],\n    ['cmnd/classroom_a1/power',''],\n    ['cmnd/classroom_a2/power',''],\n    ['cmnd/classroom_a3/power',''],\n    ['cmnd/classroom_b1/power',''],\n    ['cmnd/classroom_b2/power',''],\n    ['cmnd/classroom_b3/power',''],\n    ['cmnd/kitchen/power',''],\n    ];\npayloads.forEach(function(v, i){\n   result.push({topic:v[0], payload:v[1]});\n});\n\nreturn [result];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":220,"wires":[["44f6ceb0.eee39"]]},{"id":"3dbcf5b1.0df98a","type":"mqtt in","z":"17f061ae.cde8fe","name":"front_porch","topic":"stat/front_porch/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":170,"y":60,"wires":[["3f491d81.405892"]]},{"id":"b8dd0e7a.9eea3","type":"function","z":"17f061ae.cde8fe","name":"","func":"var arr = msg.topic.split(\"/\");\nvar payload = msg.payload;\n\nmsg = {topic: arr[1], payload:\"\"};\n\nif (payload) {\n    msg = {topic: arr[1], payload:payload.POWER.toLowerCase()};    \n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":160,"wires":[["26753547.02a2ea"]]},{"id":"26753547.02a2ea","type":"template","z":"17f061ae.cde8fe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} is {{payload}}","output":"str","x":780,"y":200,"wires":[["ac8a392d.9040d8"]]},{"id":"1bfea50b.91a42b","type":"switch","z":"17f061ae.cde8fe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":120,"wires":[["b8dd0e7a.9eea3"],[]]},{"id":"61a0a4b8.f4b3bc","type":"mqtt in","z":"17f061ae.cde8fe","name":"smart_plug","topic":"stat/smart_plug/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":360,"y":40,"wires":[["3f491d81.405892"]]},{"id":"6ce1322e.113c1c","type":"mqtt in","z":"17f061ae.cde8fe","name":"main_bedroom","topic":"stat/main_bedroom/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":300,"y":180,"wires":[["3f491d81.405892"]]},{"id":"ac74d942.be1df8","type":"mqtt in","z":"17f061ae.cde8fe","name":"front_porch2","topic":"stat/front_porch2/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":90,"y":100,"wires":[["3f491d81.405892"]]},{"id":"e8725451.e74c58","type":"mqtt in","z":"17f061ae.cde8fe","name":"rear_porch","topic":"stat/rear_porch/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":280,"y":120,"wires":[["3f491d81.405892"]]},{"id":"d0707929.1d3b88","type":"mqtt in","z":"17f061ae.cde8fe","name":"rear_porch2","topic":"stat/rear_porch2/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":90,"y":160,"wires":[["3f491d81.405892"]]},{"id":"26cae43e.6adffc","type":"mqtt in","z":"17f061ae.cde8fe","name":"main_bedroom2","topic":"stat/main_bedroom2/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":120,"y":220,"wires":[["3f491d81.405892"]]},{"id":"1bd4a9db.c0ca86","type":"mqtt in","z":"17f061ae.cde8fe","name":"childroom","topic":"stat/childroom/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":280,"y":240,"wires":[["3f491d81.405892"]]},{"id":"b0a5471b.c58398","type":"mqtt in","z":"17f061ae.cde8fe","name":"classroom_a1","topic":"stat/classroom_a1/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":110,"y":300,"wires":[["3f491d81.405892"]]},{"id":"2ce31d0f.f86992","type":"mqtt in","z":"17f061ae.cde8fe","name":"classroom_a2","topic":"stat/classroom_a2/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":270,"y":300,"wires":[["3f491d81.405892"]]},{"id":"c97d4aaa.ad3fd8","type":"mqtt in","z":"17f061ae.cde8fe","name":"classroom_a3","topic":"stat/classroom_a3/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":430,"y":300,"wires":[["3f491d81.405892"]]},{"id":"86c1a2c7.384d9","type":"mqtt in","z":"17f061ae.cde8fe","name":"classroom_b1","topic":"stat/classroom_b1/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":170,"y":360,"wires":[["3f491d81.405892"]]},{"id":"4dc14605.ad51d8","type":"mqtt in","z":"17f061ae.cde8fe","name":"classroom_b2","topic":"stat/classroom_b2/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":330,"y":360,"wires":[["3f491d81.405892"]]},{"id":"29cbf3c6.6d192c","type":"mqtt in","z":"17f061ae.cde8fe","name":"classroom_b3","topic":"stat/classroom_b3/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":490,"y":360,"wires":[["3f491d81.405892"]]},{"id":"f563b122.dd0a2","type":"mqtt in","z":"17f061ae.cde8fe","name":"kitchen","topic":"stat/kitchen/RESULT","qos":"0","datatype":"json","broker":"63b660d.12feea","x":470,"y":240,"wires":[["3f491d81.405892"]]},{"id":"74f23d51.3f3174","type":"debug","z":"ed5e3229.45cbd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":210,"y":340,"wires":[]},{"id":"69cec5d1.54441c","type":"inject","z":"17f061ae.cde8fe","d":true,"name":"interval 10s","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["96b87717.7249a8","a3945415.274088"]]},{"id":"96b87717.7249a8","type":"tcp-ping","z":"17f061ae.cde8fe","ip":"kenziotech.com","port":"80","count":"5","interval":"","timeout":"1000","topic":"","name":"kenziotech.com","x":200,"y":460,"wires":[["1849c797.5f7e58"]]},{"id":"3f491d81.405892","type":"rbe","z":"17f061ae.cde8fe","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":570,"y":80,"wires":[["1bfea50b.91a42b"]]},{"id":"a3945415.274088","type":"tcp-ping","z":"17f061ae.cde8fe","ip":"api.lsp-ps.id","port":"80","count":"5","interval":"","timeout":"1000","topic":"","name":"api.lsp-ps.id","x":210,"y":500,"wires":[["a4336480.094a48"]]},{"id":"3871c34a.21176c","type":"trigger","z":"17f061ae.cde8fe","name":"UP","op1":"UP","op2":"","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"s","reset":"DOWN","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":420,"wires":[["c5c32fd9.239be","a37d1c0d.8de03"]]},{"id":"a4336480.094a48","type":"function","z":"17f061ae.cde8fe","name":"","func":"var state = (msg.payload.failed == 5) ? 'DOWN' : 'UP';\nvar target = msg.payload.target.host;\n\nmsg = {topic:target, payload:state};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":500,"wires":[["5c2522d.715d4dc"]]},{"id":"b7cab057.58e82","type":"trigger","z":"17f061ae.cde8fe","name":"DOWN","op1":"DOWN","op2":"DOWN","op1type":"str","op2type":"str","duration":"60","extend":false,"units":"s","reset":"UP","bytopic":"all","topic":"topic","outputs":1,"x":660,"y":540,"wires":[["98fee851.890348"]]},{"id":"5c2522d.715d4dc","type":"switch","z":"17f061ae.cde8fe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"UP","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":540,"wires":[["b89f3815.766798"],["b7cab057.58e82"]]},{"id":"b89f3815.766798","type":"trigger","z":"17f061ae.cde8fe","name":"UP","op1":"UP","op2":"","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"s","reset":"DOWN","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":500,"wires":[["b7cab057.58e82","98fee851.890348"]]},{"id":"315f17d.8e758e8","type":"comment","z":"17f061ae.cde8fe","name":"STOP configuration","info":"STOP message is configured to be also sent to the COP","x":590,"y":820,"wires":[]},{"id":"2b674722.b03fc8","type":"traffic","z":"17f061ae.cde8fe","name":"Traffic sample","property_allow":"payload","filter_allow":"GO","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":true,"default_start":false,"differ":false,"x":646.5,"y":726,"wires":[["b6f74d0c.dea2d"]]},{"id":"91180773.443228","type":"inject","z":"17f061ae.cde8fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":"","topic":"I'm a car","payload":"Cheers !","payloadType":"str","x":431.5,"y":722,"wires":[["2b674722.b03fc8"]]},{"id":"3906b907.ba41d6","type":"inject","z":"17f061ae.cde8fe","name":"GO","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"GO","payloadType":"str","x":401.5,"y":778,"wires":[["2b674722.b03fc8"]]},{"id":"9bb2144.41db3e8","type":"inject","z":"17f061ae.cde8fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"STOP","payloadType":"str","x":401.5,"y":819,"wires":[["2b674722.b03fc8"]]},{"id":"b6f74d0c.dea2d","type":"debug","z":"17f061ae.cde8fe","name":"COP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":814.5,"y":767,"wires":[]},{"id":"1312ad59.aa2a83","type":"comment","z":"17f061ae.cde8fe","name":"Traffic Light sample","info":"","x":630,"y":780,"wires":[]},{"id":"a37d1c0d.8de03","type":"rbe","z":"17f061ae.cde8fe","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":770,"y":420,"wires":[["5576581d.669428"]]},{"id":"98fee851.890348","type":"rbe","z":"17f061ae.cde8fe","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":770,"y":500,"wires":[["5576581d.669428"]]},{"id":"c23a35f3.b17e58","type":"inject","z":"17f061ae.cde8fe","name":"testing.com (UP)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"testing.com","payload":"UP","payloadType":"str","x":200,"y":600,"wires":[["684e1e9a.c436a"]]},{"id":"c0de9734.73f0e8","type":"inject","z":"17f061ae.cde8fe","name":"testing.com (DOWN)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"testing.com","payload":"DOWN","payloadType":"str","x":210,"y":640,"wires":[["684e1e9a.c436a"]]},{"id":"d1096ba8.0a86d8","type":"function","z":"17f061ae.cde8fe","name":"","func":"var state = (msg.payload.failed == 5) ? 'DOWN' : 'UP';\nvar target = msg.payload.target.host;\n\nmsg = {topic:target, payload:state};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":580,"wires":[["684e1e9a.c436a"]]},{"id":"f45125cb.1951d8","type":"trigger","z":"17f061ae.cde8fe","name":"DOWN","op1":"DOWN","op2":"DOWN","op1type":"str","op2type":"str","duration":"60","extend":false,"units":"s","reset":"UP","bytopic":"all","topic":"topic","outputs":1,"x":660,"y":620,"wires":[["5576581d.669428"]]},{"id":"684e1e9a.c436a","type":"switch","z":"17f061ae.cde8fe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"UP","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":620,"wires":[["b6b4f455.a04d28"],["f45125cb.1951d8"]]},{"id":"b6b4f455.a04d28","type":"trigger","z":"17f061ae.cde8fe","name":"UP","op1":"UP","op2":"","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"s","reset":"DOWN","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":580,"wires":[["f45125cb.1951d8","1de4bf87.1e8f7"]]},{"id":"1de4bf87.1e8f7","type":"rbe","z":"17f061ae.cde8fe","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":770,"y":580,"wires":[["5576581d.669428"]]},{"id":"6aaa2d84.89bdc4","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Network","topic":"stat/smart_plug/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":100,"y":100,"wires":[["8682cbe4.1241e8","1a778ded.a3c3e2","ed0f9ae4.081588"]]},{"id":"8682cbe4.1241e8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":3,"width":3,"height":1,"name":"IP-smart_plug","label":"IP","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":320,"y":140,"wires":[]},{"id":"1a778ded.a3c3e2","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":2,"width":3,"height":1,"name":"MAC-smart_plug","label":"MAC","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":310,"y":100,"wires":[]},{"id":"ed0f9ae4.081588","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":1,"width":3,"height":1,"name":"Hostname-smart_plug","label":"Hostname","format":"smart_plug","layout":"col-center","x":300,"y":60,"wires":[]},{"id":"8e77f2f2.90c5","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Uptime","topic":"stat/smart_plug/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":90,"y":180,"wires":[["534517dc.aaa558"]]},{"id":"356588ad.063cb8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":4,"width":3,"height":1,"name":"UpTime-smart_plug","label":"UpTime","format":"{{msg.payload}}","layout":"col-center","x":300,"y":260,"wires":[]},{"id":"534517dc.aaa558","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":220,"wires":[["356588ad.063cb8"]]},{"id":"3223a2b6.c04bce","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Network-front_porch","topic":"stat/front_porch/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":550,"y":60,"wires":[["d9034770.f281f8","4627555a.c9631c","fe4c9ac2.d34238"]]},{"id":"d9034770.f281f8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":7,"width":3,"height":1,"name":"IP-front_porch","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":820,"y":140,"wires":[]},{"id":"4627555a.c9631c","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":6,"width":3,"height":1,"name":"MAC-front_porch","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":830,"y":100,"wires":[]},{"id":"fe4c9ac2.d34238","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":5,"width":3,"height":1,"name":"Hostname-front_porch","label":"","format":"front_porch","layout":"col-center","x":840,"y":60,"wires":[]},{"id":"a4dfa639.c38ba8","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Network-front_porch2","topic":"stat/front_porch2/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":560,"y":180,"wires":[["f471f15d.d14f9","a568d7eb.e7e8e8","453e9829.09edd8"]]},{"id":"f471f15d.d14f9","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":11,"width":3,"height":1,"name":"IP-front_porch2","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":820,"y":260,"wires":[]},{"id":"a568d7eb.e7e8e8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":10,"width":3,"height":1,"name":"MAC-front_porch2","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":830,"y":220,"wires":[]},{"id":"453e9829.09edd8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":9,"width":3,"height":1,"name":"Hostname-front_porch2","label":"","format":"front_porch2","layout":"col-center","x":850,"y":180,"wires":[]},{"id":"c333ec47.08738","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Network-rear_porch","topic":"stat/rear_porch/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":550,"y":300,"wires":[["36325961.48aa16","ed453f8.9c645c","ab351727.face68"]]},{"id":"36325961.48aa16","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":55,"width":3,"height":1,"name":"IP-rear_porch","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":820,"y":380,"wires":[]},{"id":"ed453f8.9c645c","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":54,"width":3,"height":1,"name":"MAC-rear_porch","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":830,"y":340,"wires":[]},{"id":"ab351727.face68","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":53,"width":3,"height":1,"name":"Hostname-rear_porch","label":"","format":"rear_porch","layout":"col-center","x":840,"y":300,"wires":[]},{"id":"558debe1.846de4","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Network-rear_porch2","topic":"stat/rear_porch2/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":560,"y":420,"wires":[["591ca14f.ef28e","db03bbaf.4aeaf8","3bd84f74.5251"]]},{"id":"591ca14f.ef28e","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":59,"width":3,"height":1,"name":"IP-rear_porch2","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":820,"y":500,"wires":[]},{"id":"db03bbaf.4aeaf8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":58,"width":3,"height":1,"name":"MAC-rear_porch2","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":830,"y":460,"wires":[]},{"id":"3bd84f74.5251","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":57,"width":3,"height":1,"name":"Hostname-rear_porch2","label":"","format":"rear_porch2","layout":"col-center","x":850,"y":420,"wires":[]},{"id":"41b00143.955bf","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Network-kitchen","topic":"stat/kitchen/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":540,"y":540,"wires":[["eeb56729.cb7308","9f5fb861.15b3a8","887aabf3.981e28"]]},{"id":"eeb56729.cb7308","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":51,"width":3,"height":1,"name":"IP-kitchen","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":810,"y":620,"wires":[]},{"id":"9f5fb861.15b3a8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":50,"width":3,"height":1,"name":"MAC-kitchen","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":810,"y":580,"wires":[]},{"id":"887aabf3.981e28","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":49,"width":3,"height":1,"name":"Hostname-kitchen","label":"","format":"kitchen","layout":"col-center","x":830,"y":540,"wires":[]},{"id":"34418047.94ef4","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Uptime-front_porch","topic":"stat/front_porch/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":550,"y":680,"wires":[["22e205a6.05282a"]]},{"id":"c437f8f0.54e2a8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":8,"width":3,"height":1,"name":"UpTime-front_porch","label":"","format":"{{msg.payload}}","layout":"col-center","x":940,"y":680,"wires":[]},{"id":"22e205a6.05282a","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":680,"wires":[["c437f8f0.54e2a8"]]},{"id":"68a6cb1d.7de384","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Uptime-front_porch2","topic":"stat/front_porch2/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":550,"y":720,"wires":[["75218a1b.f33e64"]]},{"id":"103352b5.df3f0d","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":12,"width":3,"height":1,"name":"UpTime-front_porch2","label":"","format":"{{msg.payload}}","layout":"col-center","x":940,"y":720,"wires":[]},{"id":"75218a1b.f33e64","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":720,"wires":[["103352b5.df3f0d"]]},{"id":"ca52035e.b780c","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Uptime-rear_porch","topic":"stat/rear_porch/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":550,"y":760,"wires":[["29154321.0869ac"]]},{"id":"735fa398.e58afc","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":56,"width":3,"height":1,"name":"UpTime-rear_porch","label":"","format":"{{msg.payload}}","layout":"col-center","x":930,"y":760,"wires":[]},{"id":"29154321.0869ac","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":760,"wires":[["735fa398.e58afc"]]},{"id":"5faa8a0c.60e4a4","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Uptime-rear_porch2","topic":"stat/rear_porch2/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":550,"y":800,"wires":[["1c024151.4b223f"]]},{"id":"eb9b033a.5e47b","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":60,"width":3,"height":1,"name":"UpTime-rear_porch2","label":"","format":"{{msg.payload}}","layout":"col-center","x":940,"y":800,"wires":[]},{"id":"1c024151.4b223f","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":800,"wires":[["eb9b033a.5e47b"]]},{"id":"8933bafd.cbd2f8","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"Uptime-kitchen","topic":"stat/kitchen/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":540,"y":840,"wires":[["2fb616da.c407fa"]]},{"id":"ca7c52be.d14b","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":52,"width":3,"height":1,"name":"UpTime-kitchen","label":"","format":"{{msg.payload}}","layout":"col-center","x":920,"y":840,"wires":[]},{"id":"2fb616da.c407fa","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":840,"wires":[["ca7c52be.d14b"]]},{"id":"ac70ea93.c94748","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/main_bedroom/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1160,"y":60,"wires":[["39dac374.ff231c","cbaa16bc.3540e8","1317d5c3.bbda2a"]]},{"id":"39dac374.ff231c","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":15,"width":3,"height":1,"name":"IP-main_bedroom","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":1410,"y":140,"wires":[]},{"id":"cbaa16bc.3540e8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":14,"width":3,"height":1,"name":"MAC-main_bedroom","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":1420,"y":100,"wires":[]},{"id":"1317d5c3.bbda2a","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":13,"width":3,"height":1,"name":"Hostname-main_bedroom","label":"","format":"main_bedroom","layout":"col-center","x":1430,"y":60,"wires":[]},{"id":"cd50d02c.0dad4","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/main_bedroom2/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1170,"y":180,"wires":[["990e888e.fab658","b0e755c9.c16768","d46101fb.3d2fc"]]},{"id":"990e888e.fab658","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":19,"width":3,"height":1,"name":"IP-main_bedroom2","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":1410,"y":260,"wires":[]},{"id":"b0e755c9.c16768","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":18,"width":3,"height":1,"name":"MAC-main_bedroom2","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":1420,"y":220,"wires":[]},{"id":"d46101fb.3d2fc","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":17,"width":3,"height":1,"name":"Hostname-main_bedroom2","label":"","format":"main_bedroom2","layout":"col-center","x":1440,"y":180,"wires":[]},{"id":"50b2f869.188958","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/main_bedroom/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1150,"y":300,"wires":[["9cd4df98.fd388"]]},{"id":"2b090a.f13ab6f6","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":16,"width":3,"height":1,"name":"UpTime-main_bedroom","label":"","format":"{{msg.payload}}","layout":"col-center","x":1450,"y":340,"wires":[]},{"id":"9cd4df98.fd388","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":340,"wires":[["2b090a.f13ab6f6"]]},{"id":"1ab6050d.78857b","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/main_bedroom2/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1150,"y":380,"wires":[["130d2f98.224ba"]]},{"id":"c221ea88.c4c468","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":20,"width":3,"height":1,"name":"UpTime-main_bedroom2","label":"","format":"{{msg.payload}}","layout":"col-center","x":1450,"y":420,"wires":[]},{"id":"130d2f98.224ba","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":420,"wires":[["c221ea88.c4c468"]]},{"id":"eb897475.602a78","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/childroom/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1290,"y":600,"wires":[["eb7a1a28.110158","b3240d67.fba2d","3aa5f4c6.bcf90c"]]},{"id":"eb7a1a28.110158","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":23,"width":3,"height":1,"name":"IP-childroom","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":1510,"y":680,"wires":[]},{"id":"b3240d67.fba2d","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":22,"width":3,"height":1,"name":"MAC-childroom","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":1520,"y":640,"wires":[]},{"id":"3aa5f4c6.bcf90c","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":21,"width":3,"height":1,"name":"Hostname-childroom","label":"","format":"childroom","layout":"col-center","x":1540,"y":600,"wires":[]},{"id":"8e1b740f.a77748","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/childroom/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1270,"y":720,"wires":[["6270cbea.0ae6e4"]]},{"id":"18dd5f59.ae2e71","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":24,"width":3,"height":1,"name":"UpTime-childroom","label":"","format":"{{msg.payload}}","layout":"col-center","x":1570,"y":760,"wires":[]},{"id":"6270cbea.0ae6e4","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":760,"wires":[["18dd5f59.ae2e71"]]},{"id":"dd23214f.3fee4","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_a1/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1960,"y":60,"wires":[["9e22bc43.43f03","623b8043.123e5","ac3c02a0.9e456"]]},{"id":"9e22bc43.43f03","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":27,"width":3,"height":1,"name":"IP-class_a1","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":2210,"y":140,"wires":[]},{"id":"623b8043.123e5","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":26,"width":3,"height":1,"name":"MAC-class_a1","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":2220,"y":100,"wires":[]},{"id":"ac3c02a0.9e456","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":25,"width":3,"height":1,"name":"Hostname-class_a1","label":"","format":"classroom_a1","layout":"col-center","x":2240,"y":60,"wires":[]},{"id":"77162b72.ac8744","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_a2/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1960,"y":180,"wires":[["1691999c.6129e6","b50e69a9.5ec898","97fdb11f.f3056"]]},{"id":"1691999c.6129e6","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":31,"width":3,"height":1,"name":"IP-class_a2","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":2210,"y":260,"wires":[]},{"id":"b50e69a9.5ec898","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":30,"width":3,"height":1,"name":"MAC-class_a2","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":2220,"y":220,"wires":[]},{"id":"97fdb11f.f3056","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":29,"width":3,"height":1,"name":"Hostname-class_a2","label":"","format":"classroom_a2","layout":"col-center","x":2240,"y":180,"wires":[]},{"id":"f2e1d77.f73ba28","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_a3/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1960,"y":300,"wires":[["acc61668.7f26b8","e4e5aa8e.36fae8","4d5b580b.a42628"]]},{"id":"acc61668.7f26b8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":35,"width":3,"height":1,"name":"IP-class_a3","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":2210,"y":380,"wires":[]},{"id":"e4e5aa8e.36fae8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":34,"width":3,"height":1,"name":"MAC-class_a3","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":2220,"y":340,"wires":[]},{"id":"4d5b580b.a42628","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":33,"width":3,"height":1,"name":"Hostname-class_a3","label":"","format":"classroom_a3","layout":"col-center","x":2240,"y":300,"wires":[]},{"id":"559b2ff8.f5783","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_a1/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1880,"y":420,"wires":[["be2a8713.3f60c8"]]},{"id":"62cf76f4.bb4b68","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":28,"width":3,"height":1,"name":"UpTime-classroom_a1","label":"","format":"{{msg.payload}}","layout":"col-center","x":2240,"y":420,"wires":[]},{"id":"be2a8713.3f60c8","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2060,"y":420,"wires":[["62cf76f4.bb4b68"]]},{"id":"6b266970.1cc738","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_a2/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1880,"y":460,"wires":[["de299608.a0f778"]]},{"id":"b13002c8.c7dc5","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":32,"width":3,"height":1,"name":"UpTime-classroom_a2","label":"","format":"{{msg.payload}}","layout":"col-center","x":2240,"y":460,"wires":[]},{"id":"de299608.a0f778","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2060,"y":460,"wires":[["b13002c8.c7dc5"]]},{"id":"892d19cc.e04848","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_a3/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1880,"y":500,"wires":[["fad55c3.a970ba"]]},{"id":"67dcb462.48434c","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":36,"width":3,"height":1,"name":"UpTime-classroom_a3","label":"","format":"{{msg.payload}}","layout":"col-center","x":2240,"y":500,"wires":[]},{"id":"fad55c3.a970ba","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2060,"y":500,"wires":[["67dcb462.48434c"]]},{"id":"7ca8462a.367f18","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_b1/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1960,"y":620,"wires":[["a38623a1.628d8","27a619f1.e88166","f5b3317.e73b7d"]]},{"id":"a38623a1.628d8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":39,"width":3,"height":1,"name":"IP-class_b1","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":2210,"y":700,"wires":[]},{"id":"27a619f1.e88166","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":38,"width":3,"height":1,"name":"MAC-class_b1","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":2220,"y":660,"wires":[]},{"id":"f5b3317.e73b7d","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":37,"width":3,"height":1,"name":"Hostname-class_b1","label":"","format":"classroom_b1","layout":"col-center","x":2240,"y":620,"wires":[]},{"id":"4d99a6cb.7b96f8","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_b2/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1960,"y":740,"wires":[["3eb578f9.b0e328","551f764d.120448","f7e71538.a27578"]]},{"id":"3eb578f9.b0e328","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":43,"width":3,"height":1,"name":"IP-class_b2","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":2210,"y":820,"wires":[]},{"id":"551f764d.120448","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":42,"width":3,"height":1,"name":"MAC-class_b2","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":2220,"y":780,"wires":[]},{"id":"f7e71538.a27578","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":41,"width":3,"height":1,"name":"Hostname-class_b2","label":"","format":"classroom_b2","layout":"col-center","x":2240,"y":740,"wires":[]},{"id":"9da0a27f.137ff","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_b3/STATUS5","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1960,"y":860,"wires":[["3f5138aa.ee2498","ddbd6efe.bb8d4","e431d00d.d7bc6"]]},{"id":"3f5138aa.ee2498","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":47,"width":3,"height":1,"name":"IP-class_b3","label":"","format":"{{msg.payload.StatusNET.IPAddress}}","layout":"col-center","x":2210,"y":940,"wires":[]},{"id":"ddbd6efe.bb8d4","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":46,"width":3,"height":1,"name":"MAC-class_b3","label":"","format":"{{msg.payload.StatusNET.Mac}}","layout":"col-center","x":2220,"y":900,"wires":[]},{"id":"e431d00d.d7bc6","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":45,"width":3,"height":1,"name":"Hostname-class_b3","label":"","format":"classroom_b3","layout":"col-center","x":2240,"y":860,"wires":[]},{"id":"9231c957.e8a4e8","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_b1/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1920,"y":1000,"wires":[["9be76c7f.d9f7a"]]},{"id":"366c1881.a209d8","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":40,"width":3,"height":1,"name":"UpTime-classroom_b1","label":"","format":"{{msg.payload}}","layout":"col-center","x":2280,"y":1000,"wires":[]},{"id":"9be76c7f.d9f7a","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2100,"y":1000,"wires":[["366c1881.a209d8"]]},{"id":"4635ddd8.37c9b4","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_b2/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1920,"y":1040,"wires":[["dd8a1c1c.77873"]]},{"id":"95952090.fa6a6","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":44,"width":3,"height":1,"name":"UpTime-classroom_b2","label":"","format":"{{msg.payload}}","layout":"col-center","x":2280,"y":1040,"wires":[]},{"id":"dd8a1c1c.77873","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2100,"y":1040,"wires":[["95952090.fa6a6"]]},{"id":"e2308154.7d034","type":"mqtt in","z":"96d5da8b.e2f0c8","name":"","topic":"stat/classroom_b3/STATUS11","qos":"1","datatype":"json","broker":"63b660d.12feea","x":1920,"y":1080,"wires":[["8d62ec1a.1e277"]]},{"id":"6387e8b9.174c38","type":"ui_text","z":"96d5da8b.e2f0c8","group":"32850c67.f12c84","order":48,"width":3,"height":1,"name":"UpTime-classroom_b3","label":"","format":"{{msg.payload}}","layout":"col-center","x":2280,"y":1080,"wires":[]},{"id":"8d62ec1a.1e277","type":"function","z":"96d5da8b.e2f0c8","name":"","func":"var sec = msg.payload.StatusSTS.UptimeSec;\nif (sec < 3600) {\n    msg.payload = (sec / 60).toFixed(2) + ' mins';\n} else if (sec < 86400) {\n    msg.payload = (sec / 3600).toFixed(2) + ' hours';\n} else {\n    msg.payload = (sec / 86400).toFixed(2) + ' days';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2100,"y":1080,"wires":[["6387e8b9.174c38"]]},{"id":"dcacb90b.700fc8","type":"function","z":"2f3557c4.349068","name":"Kelas A1: ON","func":"msg = [[\n        { payload: \"on\", topic: \"cmnd/classroom_a1/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":80,"wires":[["bc8410c6.7a9a7"]]},{"id":"5dde4fab.862bc","type":"function","z":"2f3557c4.349068","name":"Kelas A1: OFF","func":"msg = [[\n        { payload: \"off\", topic: \"cmnd/classroom_a1/power\" },\n    ]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["bc8410c6.7a9a7"]]},{"id":"7702cd2d.bde8f4","type":"inject","z":"2f3557c4.349068","name":"03:00 - Everyday","props":[{"p":"payload"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":40,"wires":[["dcacb90b.700fc8"]]},{"id":"3b050c01.26e8f4","type":"template","z":"ed5e3229.45cbd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Command executed successfully","output":"str","x":420,"y":120,"wires":[["acc177b4.55e0b8"]]},{"id":"6103aaeb.4bd574","type":"git-nodes-backup","z":"ed5e3229.45cbd","label":"","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"","debugging":true,"git":"2e30f351.0c63ec","x":510,"y":400,"wires":[["5bf00c94.0a4d84"]]},{"id":"a2d10561.1f9378","type":"inject","z":"ed5e3229.45cbd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":420,"wires":[["6103aaeb.4bd574"]]},{"id":"5bf00c94.0a4d84","type":"debug","z":"ed5e3229.45cbd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":360,"wires":[]}]